resources:
- ../base

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    version: v1
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: ellyson100/poc-api
  newName: ellyson100/poc-api
  newTag: "17"
